<h1>New Vehicle</h1>




<%= render 'form', vehicle: @vehicle %>

<%= link_to 'Back', vehicles_path %>




<%= form_tag vehicles_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
